@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url(./normalize.css);

.container-columnas{
    width: 100vw;
    height: 50px;
    background-color: #fcfcfd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    border-bottom: 1px solid rgba(138, 137, 137, 0.418);
    border-top: 1px solid rgba(138, 137, 137, 0.418);
}

.btn-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    color: rgba(124, 117, 117, 0.822);
    font-weight: 500;
}

.container-checkbox{
    width: 20px;
    height: 20px;
    appearance: none;   
    border: 2px solid #0070ff; /* Borde del checkbox */
    border-radius: 5px; /* Bordes redondeados */
}

.container-registros{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 50px;
    gap: 20px;
}

.registro-fila{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.btn-container div{
    flex: 1;
    text-align: left;
}

.registro-fila div{
    flex: 1;
    text-align: left;
}