@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.bi {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    color: beige;
    cursor: pointer;
    border-radius: 6px;
}

.btn-inicio{
    background-color: #2b092f;
}

.btn-perfil{
    padding: 4px;
    width: 50px;
    height: 50px;
    background-color: #2b092f;
}

.bi:hover{
    background-color: #523057;
}

.icons-div{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icons-top{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-text span{
    color: beige;
    font-size: 12px;
    margin-bottom: 10px;
}

.bi-person-fill {
    font-size: 14px;
    padding-left: 28px;
    padding-right: 8px;
}

.bi-person-circle{
    margin-top: 2px;
    font-size: 40px;
}

.icon-tec{
    cursor: pointer;
    color: beige;
    margin-left: 14px;
    padding: 4px;
    font-size: 20px;
    border-radius: 4px;
}

.line{
    display: inline-block;
    transform: rotate(90deg);
    color: gray;
    font-size: 26px;
    margin-left: 10px;
}

.icon-tec:hover{
    background-color: gray;
}

.profile{
    margin-left: 40px;
    font-size: 240px;
}

.cont-x {
    position: relative;
    width: 40px;
    height: 40px;
    bottom: 320px;
    left: 310px;
    border-radius: 4px;
}

.bi-x-lg{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 4px;
    padding-top: 8px;
    font-size: 24px;
    cursor: pointer;
}

.cont-x:hover {
    background-color: rgb(53, 50, 50);
}

.cont-disp{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.cont-disp .bi-circle-fill{
    color: rgb(32, 204, 32);
}

.cont-email-profile-i{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(53, 50, 50);
    border-radius: 4px;
    width: 60px;
    height: 60px;
}

.email-profile{
    font-size: 44px;
}