.sidebar-background-1{
    background-color: #16325b;
}

.sidebar-background-2{
    background-color: #227b94;
}

.sidebar-background-3{
    background-color: #78b7d0;
}

.sidebar-background-4{
    background-color: #ffdc7f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar-background-5{
    background-color: #f5f5f5;
}

.sidebar-background-6{
    background-color: #48CFCB;
}

.sidebar-background-7{
    background-color: #229799;
}

.sidebar-background-8{
    background-color: #424242;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}