@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url('https://st.depositphotos.com/1074550/1734/i/450/depositphotos_17341511-stock-photo-abstract-luminous-red-and-black.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
}

.father {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    width: 400px;
    height: 500px;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(146, 56, 56, 0.61);
    border-radius: 20px;
}

h1 {
    display: flex;
    font-size: 26px;
    padding: 20px;
    color: beige;
    justify-content: flex-start;
    text-shadow: 3px 2px 4px rgba(7, 6, 6, 0.6);
    margin-top: 25px;
}

label {
    display: flex;
    font-size: 16px;
    color: beige;
    justify-content: flex-start;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    gap: 14px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

input {
    text-align: center;
    width: 250px;
    height: 40px;
    background-color: rgb(163, 26, 54);
    border-radius: 14px;
    border: none;
    outline: none;
    color: rgb(233, 230, 230);
}

input::placeholder {
    color: rgb(201, 201, 201); 
    opacity: 1; 
}

button {
    margin-top: 30px;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 14px;
    background-color: rgb(163, 26, 54);
    color: rgb(233, 230, 230);
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(163, 26, 53, 0.523);
}

.a-password {
    color: rgb(224, 10, 10);
    font-weight: bold;
}

/* Workspaces */

.box-workspaces {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 700px;
    height: 600px;
    margin-top: 60px;
    padding: 40px;
    gap: 20px;
    background-color: rgba(247, 247, 247, 0.575);
    border-radius: 20px;
}

.btn-box {
    position: relative;
    justify-content: center;
    flex-direction: row;
    margin-top: 300px;
}

.btn-box button{
    margin-right: 20px;
}