*{
    font-family: var(--ff-text);
}

.subtitulo-secondary{
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    line-height: 32px;
}
.text-secondary{
    color: var(--secondary-text-color);
    font-size: 1rem;
}


@media screen and (min-width: 750px) {
    .subtitulo-secondary{
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 1020px) {
    .subtitulo-secondary{
        font-size: 1.9rem;
    }
}