@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url(./normalize.css);
@import url(./variables.css);
@import url(./fonts.css);

.bg-primary{
    background-color: var(--primary-color);
}

.bg-primary-bold{
    background-color: var(--primary-color-bold);
}

.lista{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lista ul{
    display: flex;
    gap: 5px;
}

.section{
    padding: 64px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.section .section-cabecera{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    width: 100%;
    max-width: 540px;
}

.section .reseñas-contenedor{
    padding: 0 16px;
    width: 100%;
    max-width: 540px;
}

.section .section-cabecera .section-contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section .section-cabecera .container-img{
    width: 100%;
}
.section .section-cabecera .container-img img{
    width: 100%;
}

.reseñas-contenedor{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reseñas-contenedor .caja-reseña{
    padding: 32px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.caja-reseña img{
    width: 205px;
}

.reseñas-contenedor .caja-reseña a{
    display: flex;
    justify-content: end;
    color: var(--secondary-text-color);
}

@media screen and (min-width: 750px){
    .section .section-cabecera{
        max-width: 80%;
    }
    
    .section .reseñas-contenedor{
        max-width: 80%;
    }
}

@media screen and (min-width: 1020px){
    .section{

        align-items: center;
        padding: 64px 40px;
    }
    .section .section-cabecera{
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        max-width: none;
        padding: 0 32px;
    }

    .section .section-cabecera .container-img img{
        width: auto;
        height: 30vw;
        max-height: 320px;
    }
    .section .reseñas-contenedor{
        flex-direction: row;
        max-width: none;
        width: 100%;
        gap: 5%;

    }

    .caja-reseña{
        width: 30%;
    }

    .caja-reseña img{
        width: 180px;
    }
}

@media screen and (min-width: 1200px){

    .section .section-cabecera{
        max-width: 1200px;
    }
    
    .section .reseñas-contenedor{
        max-width: 1200px;
    }
}
